html{
    padding: 0;
    margin: 0;
}
.container{
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 99vh;
}
.tabs{
    background-color: rgb(133, 175, 196);
    width: 15%;
}
.mainframe{
    display: flex;
    flex-direction: column;
    background-color: rgb(163, 189, 223);
    width: 100%;
}
.mainframe-header{
    background-color: rgb(11, 33, 44);
    height: 10vh;
}
fieldset{
    height: 100vh;
    background-color: #fff;
    margin-left: 1vw;
    margin-top: 1vw;
    border-style: none;
    padding-left: 50px;
    padding-top: 50px;
}
.input{
    width: 100%;
}
#search{
    position: absolute;
    right: 0;
    margin-right: 2vw;
    margin-top: 1vw;
}
#icon{
    display: flex;
    flex-direction: column;
    height: 2em;
    padding-top: 100px;
}
.icons{
    width: 100%;
    height: 1px;
    margin: 1px;
}
.icons i{
    margin: 1em;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1em;
}
.icons i:hover{
    background-color: rgb(49, 105, 133);
}
img{
    width: 50px;
    height: 50px;
}
.icons i img{
    width: 15px;
    height: 15px;
    margin-right: 1vw;
}